@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  
}

ul.left-links {
  display: flex;
  gap: 15px;
}

ul.right-links {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  flex: 1;
  padding-right: 40px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

}

img {
  width: 600px;
  justify-content: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  margin-top: auto;
}

a {
  text-decoration: none;
  color: grey;
}

ul {
  list-style-type: none;
}